

<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">

        <div class="col-xl-12">
            <ul class="nav nav-footer justify-content-center">
                <li class="nav-item">
                    <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                </li>
           
            </ul>
        </div>
    </div>
</footer>
